<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uniquindio.android.electiva.elvozarron">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.BienvenidaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.EntrenadorActivity">

        </activity>
        <activity android:name=".activity.PortadaActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ParticipanteActivity">

        </activity>

        <uses-permission android:name="android.permission.INTERNET" />

        <activity android:name=".activity.DetalleParticipanteActivity"></activity>
    </application>

</manifest>